[data-kordion-hidden] {
  padding-top: 0;
  height: 0;
  box-sizing: content-box;

  overflow: hidden;

  transition: height var(--kordion-animation),
    padding-top var(--kordion-animation);
}

[data-kordion-current] {
  display: flex;

  cursor: pointer;
  user-select: none;

  & > .icon {
    position: relative;
    z-index: 2;
    margin-left: auto;

    transition: transform var(--kordion-animation),
      fill var(--kordion-animation);

    pointer-events: all;

    @include hover {
      fill: var(--kordion-icon-color-hover);
    }
  }
}

[data-kordion-content] {
  padding-top: 0;

  transition: padding-top var(--kordion-animation);
}

.js-kordion-active {
  & > [data-kordion-current] {
    & > .icon {
      transform: rotate(180deg);
    }
  }
}
