.kordion_default {
  --kordion-background-color-active: #E6FDED4B;
  --kordion-background-color-disabled: #F8F8F8;
  --kordion-background-color-hover: #ECFFE7;
  --kordion-background-color-primary: #FCFCFC;

  --kordion-border-color-primary: #D0D0D0;
  --kordion-border-radius: 8px;
  --kordion-border-width: 1px;

  --kordion-content-gap: 20px;
  --kordion-content-offset: 20px;
  --kordion-current-gap: 20px;

  --kordion-font-primary: 500 20px/1.2 sans-serif;
  --kordion-font-secondary: 500 16px/1.2 sans-serif;

  --kordion-gap: 10px;

  --kordion-icon-color-hover: #4DF52B;
  --kordion-icon-color-primary: #000;
  --kordion-icon-size: 24px;

  --kordion-link-color-hover: var(--kordion-icon-color-hover);
  --kordion-link-color-primary: #00756F;
  --kordion-link-decoration: underline;

  --kordion-padding: 8px;
  
  --kordion-text-color-primary: #000;
  --kordion-text-color-secondary: #333;
}
