[data-kardion-hidden] {
  padding-top: 0;
  height: 0;
  box-sizing: content-box;

  overflow: hidden;

  transition: height var(--kardion-animation),
    padding-top var(--kardion-animation);
}

[data-kardion-current] {
  display: flex;

  cursor: pointer;

  & > .icon {
    position: relative;
    z-index: 2;
    margin-left: auto;

    transition: transform var(--kardion-animation),
      fill var(--kardion-animation);

    pointer-events: all;

    @include hover {
      fill: var(--kardion-icon-color-hover);
    }
  }
}

[data-kardion-content] {
  padding-top: 0;

  transition: padding-top var(--kardion-animation);
}

.js-kardion-active {
  & > [data-kardion-current] {
    & > .icon {
      transform: rotate(180deg);
    }
  }
}
